$mobile-header-height: 130;
$mobileLandscape-header-height: 600px;
@import "header__bgimage";

header.content__head--interactive,
.article .article__header {
  // Picture pseudoelement
  & > .gs-container:before,
  &#article-header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: $mobile-header-height * 1vw;
    background-size: auto ($mobile-header-height * 1vw);
    background-position: 90% 50%;

    @include mq(mobileLandscape) {
      background-size: auto 600px;
      height: $mobileLandscape-header-height;
    }
    @include mq(tablet) {
      background-size: auto 640px;
      height: 555px;
      margin: 0 auto;
      margin-bottom: 300px;
    }
    @include mq(desktop) {
      height: 680px;
      background-size: auto 735px;
    }
    @include mq(leftCol) {
      height: 855px;
      background-size: auto 855px;
    }
    @include mq(wide) {
      height: 700px;
      background-size: auto 900px;
    }
  }

  .content__labels,
  .article-kicker {
    padding: 0;
    background-color: #241006;
    display: inline-block;
    margin-left: -10px;
    margin-top: 106vw;
    margin-bottom: -6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    @include mq(mobileLandscape) {
      margin-top: 500px;
    }
    @include mq(tablet) {
      margin-top: 453px;
      margin-left: -20px;
      padding-left: 10px;
    }
    @include mq(desktop) {
      margin-top: 498px;
    }
    @include mq(leftCol) {
      margin-top: 672px;
      margin-left: -180px;
    }
    @include mq(wide) {
      margin-top: 515px;
    }

    // position: absolute;
    // padding-top: 10px;

    .article-kicker__section,
    .content__section-label {
      display: none;
    }
    .label__link-wrapper,
    .ios & a,
    .android & a {
      display: inline-block;
      line-height: 30px;
      padding: 0 10px 0 0;
      font-weight: 700;
      font-size: 17px;
      color: #fcf1e9;
      background-color: #241006;
    }
    @include mq(leftCol) {
      position: static;
      // margin-left: auto;
      // width: auto;
    }
  }

  .content__headline,
  .headline {
    padding: 6px 10px 20px;
    font-size: 36px;
    line-height: 1;
    font-family: "Guardian Titlepiece", "Guardian Headline Full",
      "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
    margin-left: -10px;
    // margin-top: 117vw;
    color: #fcf1e9;
    background-color: #241006;

    @include mq(tablet) {
      line-height: 0.95;
      font-size: 42px;
      margin-left: -20px;
      padding-left: 20px;
    }
    @include mq(desktop) {
      padding: 6px 20px 20px;
      font-size: 64px;
    }
    @include mq(leftCol) {
      font-size: 64px;
      padding-top: 0;
      line-height: 1;
      margin-left: -180px;
      body.ios &,
      body.android & {
        background-color: transparent;
      }
    }
    @include mq(wide) {
      font-size: 64px;
      padding-right: 40px;
      margin-left: -260px;
    }
  }

  .content__standfirst,
  .standfirst {
    padding: 6px 10px 20px;
    font-size: 20px;
    line-height: 1;
    font-weight: 200;
    font-family: "Guardian Egyptian Web", "Guardian Headline Full",
      "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
    margin-left: -10px;

    color: #241006;

    @include mq(tablet) {
      line-height: auto;
      font-size: 25px;
    }
    @include mq(desktop) {
      padding-top: 10px;
      font-size: 30px;
    }
    @include mq(leftCol) {
      padding-top: 20px;
      font-size: 30px;
      // padding-top: 0;
      margin-top: -9px;
      line-height: 1;
      body.ios &,
      body.android & {
        background-color: transparent;
      }
    }
    @include mq(wide) {
      padding-top: 20px;
      font-size: 30px;
      padding-right: 40px;
    }
  }

  .ios &,
  .android & {
    .headline {
      position: relative;
      z-index: 10;
      margin-left: 0;
      margin-right: 10px;
    }
  }
}
