@import "fonts";
@import "mq";
@import "palette";
@import "header";
// @import "enhancer";
.interactive-atom {
  margin: 0;
  padding: 0;
}

.content--interactive .content__main-column--interactive {
  background: none;
  img {
    height: auto;
  }

  @include mq(tablet) {
    width: 620px;
    margin-left: 0;
  }
  @include mq(leftCol) {
    margin-left: 160px;
  }
  @include mq(wide) {
    margin-left: 240px;
  }
}
